In [2]:
salaries = []
while True:
    salary = int(input("Enter a salary: (type -1 to quit):"))
    if salary == -1:
        break
        
    salaries.append(salary)
salaries

Enter a salary: (type -1 to quit):10000
Enter a salary: (type -1 to quit):12000
Enter a salary: (type -1 to quit):13000
Enter a salary: (type -1 to quit):-1

[10000, 12000, 13000]

In [4]:
sum(salaries)/len(salaries)

11666.666666666666

In [5]:
import numpy

In [6]:
numpy.std(salaries)

1247.219128924647

## Alias for libraries

In [7]:
import numpy as np

In [8]:
np.std(salaries)

1247.219128924647

In [9]:
import numpy as xyz

In [10]:
xyz.std(salaries)

1247.219128924647

## Methods of importing a library

In [11]:
from numpy import std

In [12]:
std(salaries)

1247.219128924647

In [14]:
np.average(salaries)

11666.666666666666

In [15]:
average(salaries)

NameError: name 'average' is not defined

In [16]:
from numpy import *

In [17]:
average(salaries)

11666.666666666666

In [19]:
def mean(values):
    print("Mean of values:", sum(values)/len(values))

In [20]:
mean(salaries)

Mean of values: 11666.666666666666

In [21]:
from numpy import *

In [22]:
mean(salaries)

11666.666666666666

## Concatenate a bunch of files into a single large file

In [25]:
import os

In [26]:
os.getcwd()

'/Users/sddorair/Personal/SJCC/cis24c/temp'

In [27]:
import glob

In [29]:
file_paths = glob.glob("split_files/*.csv")
file_paths

['split_files/file1.csv',
 'split_files/file2.csv',
 'split_files/file3.csv',
 'split_files/file4.csv',
 'split_files/file5.csv']

In [31]:
combined_file = open("combined_file.csv","w")
combined_lines = []

for file in file_paths:
    
    split_file = open(file)
    combined_lines.extend(split_file.readlines())
    
combined_file.writelines(combined_lines)

combined_file.close()

## Simple Calculator

In [33]:
import math

In [40]:
import math

function_id = input("Enter a function. Supported functions are cos,sin,tan,log:")
value_id = int(input("Enter a value to be used against that function:"))

function_map = {'cos':math.cos,'sin':math.sin,'tan':math.tan,'log':math.log}

function_map[function_id](value_id)

Enter a function. Supported functions are cos,sin,tan,log:tan
Enter a value to be used against that function:10

In [35]:
function_id

'cos'

In [36]:
value_id

20

In [37]:
function_map = {'cos':math.cos,'sin':math.sin,'tan':math.tan,'log':math.log}

In [41]:
function_map[function_id](value_id)

0.6483608274590867

In [32]:
combined_lines

['Harry, 1, 30000\n',
 'Mary, 2, 2323\n',
 'John, 3, 2343\n',
 'Harry, 1, 30000\n',
 'Mary, 2, 2323\n',
 'John, 3, 2343\n',
 'Harry, 1, 30000\n',
 'Mary, 2, 2323\n',
 'John, 3, 2343\n',
 'Harry, 1, 30000\n',
 'Mary, 2, 2323\n',
 'John, 3, 2343\n',
 'Harry, 1, 30000\n',
 'Mary, 2, 2323\n',
 'John, 3, 2343\n']

In [23]:
!pwd

/Users/sddorair/Personal/SJCC/cis24c/temp

In [24]:
!ls

HW4+Castro.ipynb                 hw4.ipynb
HW5+Castro.ipynb                 hw4_Connie.ipynb
Untitled.ipynb                   hw4_henry.ipynb
Untitled1.ipynb                  hw4_minh_vu.ipynb
Untitled2.ipynb                  hw5_henry.ipynb
Untitled3.ipynb                  hw6_yesenia.ipynb
Untitled4.ipynb                  json
Untitled5.ipynb                  json2csv.html
Untitled6.ipynb                  main.py
Untitled7.ipynb                  scratch.ipynb
Untitled8.ipynb                  spell.words.txt
__pycache__                      srikar_hw5.ipynb
assignment_correction            studentinfo.txt
cis024c_classwork_03232020.ipynb temp.json
cis24csummer                     test.py
conda                            test001.py
elizabethyang                    test002.py
fall2017classwork                testhelper.py
hw2.ipynb                        week4_classwork.ipynb
hw2_corrections.ipynb            xfile.txt