## Working with Classes

In [1]:
!python --version

Python 3.7.6

### Difference between the class template and the object

In [6]:
class Employee:
    pass

In [16]:
emp1 = Employee()

In [17]:
emp1.first = "Bob"
emp1.last = "Hertz"
emp1.salary = 50000

In [18]:
emp1.first

'Bob'

In [19]:
emp1.last

'Hertz'

In [20]:
emp1.salary

50000

In [21]:
emp1.__dict__

{'first': 'Bob', 'last': 'Hertz', 'salary': 50000}

In [22]:
emp2 = Employee()

emp2.first = "Bill"
emp2.last = "Worth"
emp2.salary = 60000

In [23]:
emp1.__dict__

{'first': 'Bob', 'last': 'Hertz', 'salary': 50000}

In [24]:
emp2.__dict__

{'first': 'Bill', 'last': 'Worth', 'salary': 60000}

In [25]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

### How do we make the attributes of Employee part of the class itself

In [28]:
class Employee:
    
    def __init__(self, f, l, s):
        self.first = f
        self.last = l
        self.salary = s

In [29]:
emp1 = Employee("Bob","Hertz",50000)

In [30]:
emp1.__dict__

{'first': 'Bob', 'last': 'Hertz', 'salary': 50000}

In [31]:
emp1.first

'Bob'

In [32]:
emp1.last

'Hertz'

In [33]:
emp1.salary

50000

### Creating other class attributes

In [34]:
class Employee:
    
    def __init__(self, f, l, s):
        self.first = f
        self.last = l
        self.salary = s
        
        self.email = f + "_" + l + "@sjcc.edu"

In [35]:
emp1 = Employee("Bob","Hertz",50000)

In [36]:
emp1.__dict__

{'first': 'Bob',
 'last': 'Hertz',
 'salary': 50000,
 'email': 'Bob_Hertz@sjcc.edu'}

In [37]:
emp1.dept = "Computer Science"

In [38]:
emp1.__dict__

{'first': 'Bob',
 'last': 'Hertz',
 'salary': 50000,
 'email': 'Bob_Hertz@sjcc.edu',
 'dept': 'Computer Science'}

In [40]:
emp2 = Employee("Bill","Worth",60000)

In [41]:
emp2.__dict__

{'first': 'Bill',
 'last': 'Worth',
 'salary': 60000,
 'email': 'Bill_Worth@sjcc.edu'}

In [42]:
emp1.__dict__

{'first': 'Bob',
 'last': 'Hertz',
 'salary': 50000,
 'email': 'Bob_Hertz@sjcc.edu',
 'dept': 'Computer Science'}

### Making the dept part of the init function

In [43]:
class Employee:
    
    def __init__(self, f, l, s, d):
        self.first = f
        self.last = l
        self.salary = s
        self.dept = d
        
        self.email = f + "_" + l + "@sjcc.edu"

In [44]:
emp1 = Employee("Bob","Hertz",50000,"Math")

In [45]:
emp1.__dict__

{'first': 'Bob',
 'last': 'Hertz',
 'salary': 50000,
 'dept': 'Math',
 'email': 'Bob_Hertz@sjcc.edu'}

### Creating functions within the object

In [56]:
def print_employee(emp):
    
    print("%-12s %s" % ("Name:", emp.first + " " + emp.last))
    print("%-12s %d" % ("Salary:", emp.salary))
    print("%-12s %s" % ("Department:", emp.dept))
    print("%-12s %s" % ("Email:", emp.email))

In [57]:
print_employee(emp1)

Name:        Bob Hertz
Salary:      50000
Department:  Math
Email:       Bob_Hertz@sjcc.edu

In [76]:
class Employee:
    
    def __init__(self, f, l, s, d):
        self.first = f
        self.last = l
        self.salary = s
        self.dept = d
        
        self.email = f + "_" + l + "@sjcc.edu"
        
    def print(self):
    
        print("%-12s %s" % ("Name:", self.first + " " + self.last))
        print("%-12s %d" % ("Salary:", self.salary))
        print("%-12s %s" % ("Department:", self.dept))
        print("%-12s %s" % ("Email:", self.email))
        
    def __str__(self):
        
        
        retVal =         ("%-12s %s" % ("Name:", self.first + " " + self.last))
        retVal += "\n" + ("%-12s %d" % ("Salary:", self.salary))
        retVal += "\n" + ("%-12s %s" % ("Department:", self.dept))
        retVal += "\n" + ("%-12s %s" % ("Email:", self.email))
        
        return retVal
    
    def full_name(self):
        
        return self.first + " " + self.last

In [77]:
emp1 = Employee("Bob","Hertz",50000,"Math")

In [69]:
emp1.print()

Name:        Bob Hertz
Salary:      50000
Department:  Math
Email:       Bob_Hertz@sjcc.edu

In [70]:
print(emp1)

Name:        Bob Hertz
Salary:      50000
Department:  Math
Email:       Bob_Hertz@sjcc.edu

In [71]:
emp_d = {'name':'Bob','salary':60000}

In [72]:
emp_d

{'name': 'Bob', 'salary': 60000}

In [73]:
print(emp_d)

{'name': 'Bob', 'salary': 60000}

In [78]:
emp1.full_name()

'Bob Hertz'

### We now want to give our Employees a salary raise

In [81]:
class Employee:
    
    def __init__(self, f, l, s, d):
        self.first = f
        self.last = l
        self.salary = s
        self.dept = d
        
        self.email = f + "_" + l + "@sjcc.edu"
        
    def print(self):
    
        print("%-12s %s" % ("Name:", self.first + " " + self.last))
        print("%-12s %d" % ("Salary:", self.salary))
        print("%-12s %s" % ("Department:", self.dept))
        print("%-12s %s" % ("Email:", self.email))
        
    def __str__(self):
        
        
        retVal =         ("%-12s %s" % ("Name:", self.first + " " + self.last))
        retVal += "\n" + ("%-12s %d" % ("Salary:", self.salary))
        retVal += "\n" + ("%-12s %s" % ("Department:", self.dept))
        retVal += "\n" + ("%-12s %s" % ("Email:", self.email))
        
        return retVal
    
    def update_salary(self):
        
        self.salary = self.salary * 1.05
    
    def full_name(self):
        
        return self.first + " " + self.last

In [82]:
emp1 = Employee("Bob","Hertz",50000,"Math")

In [83]:
emp1.print()

Name:        Bob Hertz
Salary:      50000
Department:  Math
Email:       Bob_Hertz@sjcc.edu

In [84]:
emp1.update_salary()

In [85]:
emp1.print()

Name:        Bob Hertz
Salary:      52500
Department:  Math
Email:       Bob_Hertz@sjcc.edu

### Create a Class variable

In [93]:
class Employee:
    
    rate = 1.05
    
    def __init__(self, f, l, s, d):
        self.first = f
        self.last = l
        self.salary = s
        self.dept = d
        
        self.email = f + "_" + l + "@sjcc.edu"
        
    def print(self):
    
        print("%-12s %s" % ("Name:", self.first + " " + self.last))
        print("%-12s %d" % ("Salary:", self.salary))
        print("%-12s %s" % ("Department:", self.dept))
        print("%-12s %s" % ("Email:", self.email))
        
    def __str__(self):
        
        
        retVal =         ("%-12s %s" % ("Name:", self.first + " " + self.last))
        retVal += "\n" + ("%-12s %d" % ("Salary:", self.salary))
        retVal += "\n" + ("%-12s %s" % ("Department:", self.dept))
        retVal += "\n" + ("%-12s %s" % ("Email:", self.email))
        
        return retVal
    
    def update_salary(self):
        
        self.salary = self.salary * Employee.rate
    
    def full_name(self):
        
        return self.first + " " + self.last
    
    @classmethod
    def modify_rate(cls,new_rate):
        
        cls.rate = new_rate

In [94]:
emp1 = Employee("Bob","Hertz",50000,"Math")

In [95]:
emp1.update_salary()

In [96]:
emp1.print()

Name:        Bob Hertz
Salary:      52500
Department:  Math
Email:       Bob_Hertz@sjcc.edu

In [97]:
Employee.modify_rate(1.10)

In [98]:
emp1.print()

Name:        Bob Hertz
Salary:      52500
Department:  Math
Email:       Bob_Hertz@sjcc.edu

In [99]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              'rate': 1.1,
              '__init__': <function __main__.Employee.__init__(self, f, l, s, d)>,
              'print': <function __main__.Employee.print(self)>,
              '__str__': <function __main__.Employee.__str__(self)>,
              'update_salary': <function __main__.Employee.update_salary(self)>,
              'full_name': <function __main__.Employee.full_name(self)>,
              'modify_rate': <classmethod at 0x10ae34450>,
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [100]:
emp1.update_salary()

In [101]:
emp1.print()

Name:        Bob Hertz
Salary:      57750
Department:  Math
Email:       Bob_Hertz@sjcc.edu

### Keeping track of the count of employees created

In [142]:
class Employee:
    
    rate = 1.05
    count = 0
    
    def __init__(self, f, l, s, d):
        self.first = f
        self.last = l
        self.salary = float(s)
        self.dept = d
        
        self.email = f + "_" + l + "@sjcc.edu"
        
        Employee.count = Employee.count + 1
        
    def print(self):
    
        print("%-12s %s" % ("Name:", self.first + " " + self.last))
        print("%-12s %f" % ("Salary:", self.salary))
        print("%-12s %s" % ("Department:", self.dept))
        print("%-12s %s" % ("Email:", self.email))
        
    def __str__(self):
        
        
        retVal =         ("%-12s %s" % ("Name:", self.first + " " + self.last))
        retVal += "\n" + ("%-12s %d" % ("Salary:", self.salary))
        retVal += "\n" + ("%-12s %s" % ("Department:", self.dept))
        retVal += "\n" + ("%-12s %s" % ("Email:", self.email))
        
        return retVal
    
    def update_salary(self):
        
        self.salary = self.salary * Employee.rate
    
    def full_name(self):
        
        return self.first + " " + self.last
    
    @classmethod
    def modify_rate(cls,new_rate):
        
        cls.rate = new_rate
        
    @classmethod
    def get_count(cls):
        
        print("Total number of employees:", cls.count)

In [143]:
emp1 = Employee("Bob","Hertz",50000,"Math")

In [127]:
Employee.get_count()

Total number of employees: 13

In [128]:
emp2 = Employee("Bill","Worth",60000,"Physics")

In [140]:
Employee.get_count()

Total number of employees: 20

### Updating salary in an employee file

In [136]:
# open the file
emp_file = open("employees.txt",encoding='utf-8')

# read the employees
employees = []
for e in emp_file:
    f,l,s,d = e.strip().split(',')
    
    employees.append(Employee(f,l,float(s),d))    
    
emp_file.close()

In [137]:
for e in employees:
    
    e.update_salary()
    
    e.print()

Name:        "Bob" "Hertz"
Salary:      57881
Department:  "Math"
Email:       "Bob"_"Hertz"@sjcc.edu
Name:        "Bill" "Worth"
Salary:      69457
Department:  "Physics"
Email:       "Bill"_"Worth"@sjcc.edu

In [138]:
emp_file = open("employees.txt","w", encoding='utf-8')

for e in employees:
    
    emp_file.write(e.first + "," + e.last + "," + str(e.salary) + "," + e.dept + "\n")
    
emp_file.close()

In [139]:
!cat employees.txt

"Bob","Hertz",57881.25,"Math"
"Bill","Worth",69457.5,"Physics"